[tool.poetry]
name = "cooking-assistant"
version = "0.1.0"
description = ""
authors = ["nawfaladil16 <nawfaladil16@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.12,<3.15"
pymupdf = "^1.27.1"
pymupdf4llm = "^0.3.4"
pymupdf-layout = "^1.27.1"
numpy = "^2.4.2"
torch = "^2.10.0"
torchvision = "^0.25.0"
torchaudio = "^2.10.0"
transformers = "^5.2.0"
sentence-transformers = "^5.2.3"
chromadb = "^1.5.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
